<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<div class="container mb-3">
	<div class="col-lg-6 offset-lg-3 ">
		<h1 style="text-align:center;"> All Posts</h1>
	</div>
</div>
<% flash.each do |type,msg| %>
	<div class="alert alert-success">
		<%=msg %>
	</div>
<% end %>
<%@posts.each do |post|  %>
<%# <%= format_name(@posts)  %>
	<section class="hero">
    	<div class="container mb-3">
        	<div class="row">	
		   		<div class="col-lg-6 offset-lg-3">
					<div class="cardbox shadow-lg bg-white" style="max-height: 800px; border-radius: 30px; margin-bottom: 10px;">
			 			<div class="cardbox-heading">
			  				<div class="media m-0">
			   					<div class="mr-3 m-2" style="display: flex; border-top: none !important; border-width: 1px !important; border-right: none !important; border-left: none !important; border: solid; border-radius: 5px;">	
									<div>
									<a style="text-decoration:none;" href="profile/user_profile/<%=post.user.id%>">
                                    	<% if User.find(post.user_id).image_url%>
											<img src="<%=User.find(post.user_id).image_url%>" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2 round rounded-circle" style="width: 80px; z-index: 1">
										<%else%>
											<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2 round rounded-circle" style="width: 80px; z-index: 1">
										<%end%>	    
									<span style="font-family:sans-serif;font-size:2em; text-decoration:none;"><i class="icon ion-md-time"></i><%=  post.user.name%></span>
									</a>
									</div>
									<div style="flex-grow: 5;"></div>
									<div style="flex-grow: 1;">
									<p style="font-family:sans-serif;font-size:0.5em; margin-left: 20% !important; margin-top: 29px; max-height: 10px;"><%=post.created_at.strftime('%d/%m/%Y')%></p>
								</div>
								</div>
			   					<div class="media-body m-2">
									<p style="font-family:sans-serif;font-size:1.2em;"><%=post.text%></p>
			 	  				</div>
			  				</div>
			 			</div>
			 			<div class="cardbox-item">
							<% if post.image_url%>
							<div style="
    justify-content: space-around;
    display: flex;
">
						 		<%= image_tag(post.image.url,class:"img-fluid m-3", style:"max-width: 600px; max-height: 500px;")%>
     			        	</div>
							<%end%>
							<% @liked_by = Post.find(post.id).likes %>
							<% if @liked_by.present? %>
							<div style="
    justify-content: space-around;
    display: flex;
	    height: 30px;
">
								<div class="bi bi-hand-thumbs-up" style="colour: grey">
									<% counts = @liked_by.count%>
									<%if counts == 1%>
										<p style="display: inline; colour: grey""><%= User.find_by(id: @liked_by.first.user_id).name if @liked_by.present?%></p>
									<%elsif counts == 2%>
										<p style="display: inline; colour: grey""><%= User.find_by(id: @liked_by.first.user_id).name if @liked_by.present?%> and
										<%= User.find_by(id: @liked_by.second.user_id).name if @liked_by.present?%></p>
									<%else%>
										<p style="display: inline; colour: grey""><%= User.find_by(id: @liked_by.first.user_id).name if @liked_by.present?%>,
										<%= User.find_by(id: @liked_by.second.user_id).name if @liked_by.present?%> and <a style="text-decoration: none; color: #6c757d;" href="/like/liked_by/<%=post.id%>"><%=counts-2%> others</a></p>
									<%end%>
									
								</div>
								<div>
									<p style="display: inline;"> <%=post.comments.count%> <a href="comment/index/<%=post.id%> " style="color: grey;" class="bi bi-chat-dots"></a></p>
									</div>
								</div>
							<%end%>
							<div class="alligning-container" style="height: 50px;">
								<div class=" m-2" style="max-width: 30%;">
									<%if Like.find_by(user_id:current_user.id,post_id:post.id)%>
										<h4><a href="like/indexlike/<%=post.id%>"><i class="bi bi-hand-thumbs-down m-5"></i> </a></h4>
									<%else%>
										<h4><a href="like/indexlike/<%=post.id%>"><i class="bi bi-hand-thumbs-up"></i> </a></h4>
									<%end%>
								</div>
								<div class="m-2" style="max-width: 30%;">
									<h4><a href="comment/index/<%=post.id%> "><i href="comment/index/<%=post.id%> " class="bi bi-chat-dots m-5" ></i></a></h4>
								</div>
							</div>
           				</div>	
						<br>
         			</div>
                </div>
			</div>
		</div>
    </section>
<%end%>