<div class="container ">
	<div class="col-lg-6 offset-lg-3">
		<h1> Your all Posts</h1>
	</div>
</div>
<% flash.each do |type,msg| %>
    <div class="alert alert-success">
      <%=msg %>
    </div>
    <% end %>
<%@postscurrent.each do |post|  %>
	<section class="hero mb-5">
        <div class="container ">
          	<div class="row">	
		   		<div class="col-lg-6 offset-lg-3">
					<div class="cardbox shadow-lg bg-white p-1">
			 			<div class="cardbox-heading">
			  				<div class="media m-0">
			   					<div class="d-flex mr-3 m-2">
									<a href="">
									<% if User.find(post.user_id).image_url%>
										<img src="<%=User.find(post.user_id).image_url%>" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 100px; z-index: 1">
									<%else%>
										<img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">		
									<%end%>									
									<span style="font-family:sans-serif;font-size:1.0em;"><%=current_user.name%></span></a>
			   					    <%=link_to 'Edit', edit_post_path(post.id),class:"btn btn-primary m-4"%>
									<%=link_to 'Delete', post_path(post.id),class:"btn btn-primary m-4",method: "delete"%>		
								</div>
			   					<div class="media-body m-3">
			    					<h4 class="m-2"><%=post.text%></h4>
									<small><span><i class="icon ion-md-pin"></i>Posted at :- <%=post.created_at%></span></small>
									<small><span><i class="icon ion-md-time"></i></span></small>
			   					</div>
			  				</div>
			 			</div>
			 			<div class="cardbox-item ">
							 <% if post.image_url%>
								 <%= image_tag(post.image.url,height:600, width:600,class:"img-fluid m-3")%>
							 <%else%>
     			       		 <%end%>			 	
						</div>
						 <div class="container d-flex ">
							 		<div class="border border-dark m-2">
									 <%if Like.find_by(user_id:current_user.id,post_id:post.id)%>
									    <h4><%=post.likes.count%><a href="like/indexlike/<%=post.id%>"><i class="bi bi-hand-thumbs-down m-5"></i> </a></h4>
									 <%else%>
							    		<h4><%=post.likes.count%><a href="like/indexlike/<%=post.id%>"><i class="bi bi-hand-thumbs-up m-5"></i> </a></h4>
									 <%end%>
								 	</div>
									<div class="border border-dark m-2">
										<h4><%=post.comments.count%><a href="comment/index/<%=post.id%> "><i href="comment/index/<%=post.id%> " class="bi bi-chat-dots m-5"></i></a></h4>
								 	</div>
								 </div>
           					</div>	
					</div>
				</div>			
			</div>
		</div>
	</section>
<%end%>