<div class="container ">
	<div class="col-lg-6 offset-lg-3">
		<h1> Your all Posts</h1>
	</div>
</div>
<%@postscurrent.each do |i|  %>
<%# <%debugger%>
	<section class="hero mb-5">
        <div class="container ">
          	<div class="row">	
		   		<div class="col-lg-6 offset-lg-3">
					<div class="cardbox shadow-lg bg-white p-1">
			 			<div class="cardbox-heading">
			  				<div class="media m-0">
			   					<div class="d-flex mr-3 m-2">
									<a href=""><img class="img-fluid rounded-circle" src="http://www.themashabrand.com/templates/bootsnipp/post/assets/img/users/4.jpg" alt="User" height="70px" width="70px"><span style="font-family:sans-serif;font-size:1.5em;"><%=current_user.name%></span></a>
			   					    <%=link_to 'Edit', edit_post_path(i.id),class:"btn btn-primary m-4"%>
									<%=link_to 'Delete', post_path(i.id),class:"btn btn-primary m-4",method: "delete"%>		
								</div>
			   					<div class="media-body m-3">
			    					<h4 class="m-2"><%=i.text%></h4>
									<small><span><i class="icon ion-md-pin"></i>Posted at :- <%=i.created_at%></span></small>
									<small><span><i class="icon ion-md-time"></i></span></small>
			   					</div>
			  				</div>
			 			</div>
			 			<div class="cardbox-item ">
							 <% if i.image_url%>
								 <%= image_tag(i.image.url,height:600, width:600,class:"img-fluid m-3")%>
							 <%else%>
     			       		 <%end%>			 	
						</div>
						<div class="container d-flex m-3 mb-5">
						<div class="border border-dark m-2">
							    		<h4><a href="/like/indexlike/<%=i.id%>"><%=$likecount%><i class="bi bi-hand-thumbs-up m-5"></i> </a></h4>
								 	</div>
									<div class="border border-dark m-2">
										<h4><a href="/comment/index/<%=i.id%> "><i href="/comment/index/<%=i.id%> " class="bi bi-chat-dots m-5"></i></a></h4>
								 	</div>
           				</div>			
					</div>
				</div>			
			</div>
		</div>
	</section>
<%end%>