 <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>


<section class="h-100 gradient-custom-2">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center  h-100">
      <div class="col col-lg-9 col-xl-7">
        <div class="card">
          <div class="rounded-top text-white d-flex flex-row" style="background-color: #000; height:200px;">
            <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
            	<% if @users.image_url%>
                <img src="<%=@users.image_url%>" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
							<%else%>
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
     			    <%end%>	              
            </div>
            <div class="ms-3" style="margin-top: 130px;">
              <h5><%=@users.name%>s</h5>
              <p><%=  @users.location%></p>
            </div>
          </div>
          <div class="p-4 text-black" style="background-color: #f8f9fa;">
            <div class="d-flex justify-content-end  text-center py-1">
              <div>
                <p class="mb-1 h5"><%=@postcount%></p>
                <p  ><a class="small text-muted mb-0" href="#" style="text-decoration:none;">Posts</a></p>
	
              </div>
              <div class="px-3">
                <p class="mb-1 h5"><%=@friendcount%></p>
                <p><a class="small text-muted mb-0" href="#" style="text-decoration:none;">Friends</a></p>
				
              </div>
            </div>
              <h3 class="mb-0"><a href="/message/create/<%=@users.id%>" class="text-muted text-decoration-none">Message</a></h3>

          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5">
              <p class="lead fw-normal mb-1">About</p>
              <div class="p-4" style="background-color: #f8f9fa;">

                <%if current_user.location != nil%>
                <p class="font-italic mb-1">Lives in : <%= @users.location%></p>
				<%end%>

				<%if current_user.work_at != nil%>
                  <p class="font-italic mb-0">works at :<%= @users.work_at %></p>
                <%end%>
				
				<%if current_user.about != nil%>
					<p class="font-italic mb-1"><%= @users.about%></p>
				<%end%>

			    <%if current_user.mobile_no != nil%>
					<p class="font-italic mb-1">Mobile number : <%=@users.mobile_no%></p>
				<%end%>

			  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<%@userpost.each do |post|%>
    <section class="hero">
        <div class="container mb-5">
          <div class="row">	
		        <div class="col-lg-6 offset-lg-3">
			        <div class="cardbox shadow-lg bg-white m-3 mb-4">
			            <div class="cardbox-heading ">
			                <div class="media m-0 ">
			                    <div class="d-flex m-3 mr-3">
				                    <a href="">
                            	<% if User.find(post.user_id).image_url%>
                                <img src="<%=User.find(post.user_id).image_url%>" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
                              <%else%>
                                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-profiles/avatar-1.webp" alt="Generic placeholder image" class="img-fluid img-thumbnail mt-4 mb-2" style="width: 150px; z-index: 1">
     			                    <%end%>	          
                                 <span style="font-family:sans-serif;font-size:2em;"><%=@users.name%></span></a>
			                    </div>
			                    <div class="media-body m-3">
				                    <large><span style="font-family:sans-serif;font-size:1.5em;"> <i class="icon ion-md-pin"></i><%=post.text%></span></large><br>
				                    <small><span><i class="icon ion-md-time"></i>Posted at :- <%=post.created_at%></span></small>
			                    </div>
			                </div>
			            </div>
			            <div class="cardbox-item ">
				      			<% if post.image_url%>
							    	  <%= image_tag(post.image.url,height:550, width:550,class:"img-fluid m-3")%>
							      <%else%>
     			       		<%end%>			 	
						      </div class="cardbox-item m-3">
                  <div class="container d-flex m-3 mb-5">
                    <div class="border border-dark m-2">
                      <%if Like.find_by(user_id:current_user.id,post_id:post.id)%>
                        <h4><%=post.likes.count%><a href="/like/indexlike/<%=post.id%>"><i class="bi bi-hand-thumbs-down m-5"></i> </a></h4>
                      <%else%>
                        <h4><%=post.likes.count%><a href="/like/indexlike/<%=post.id%>"><i class="bi bi-hand-thumbs-up m-5"></i> </a></h4>
                      <%end%>
                    </div>               
                    <div class="border border-dark m-2">
                      <h4><%=post.comments.count%><a href="/comment/index/<%=post.id%> "><i href="/comment/index/<%=post.id%> " class="bi bi-chat-dots m-5"></i></a></h4>
                    </div>		
                  </div>
              </div>
            </div>	
          </div>
        </div>
    </section>
<%end%>